@font-face { font-family: 'ChomskyRegular'; src: url("resources/fonts/Chomsky.otf") format("opentype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'NewTelegraph'; src: url("resources/fonts/New Telegraph.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'RobotoCondensedRegular'; src: url("resources/fonts/RobotoCondensed-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.sheet.skills > table > tbody > tr > td { vertical-align: top; }

.sheet.skills table { width: 100%; }

.sheet.skills table thead .headfield { font-size: 1.8rem; width: 100%; }

.sheet.skills table thead .headfield td, .sheet.skills table thead .headfield tr { padding: 0; }

.sheet.skills table thead .headfield .points { flex-grow: 1; }

.sheet.skills table thead .headfield .values td { padding-bottom: .3rem; }

.sheet.skills table thead .headfield .i-field { display: flex; justify-content: center; align-items: center; padding: .2rem; }

.sheet.skills table thead .headfield .i-value input { width: 2.5rem; border: none; font-size: 1.8rem; font-weight: bold; outline: none; }

.sheet.skills table thead .headfield i { width: 3rem; height: 3rem; }

.sheet.skills table tbody table { border-spacing: 0 10px; }

.sheet.skills table tbody table thead { font-size: 1.2rem; }

.sheet.skills table tbody table td { padding: 0 !important; }

.sheet.skills table tbody table .value .grow-input, .sheet.skills table tbody table .bon-mal .grow-input { margin: 0 .3rem; }

.sheet.skills table tbody table .value .grow-input span, .sheet.skills table tbody table .bon-mal .grow-input span { padding-right: 1rem; }

.sheet.skills table tbody table .bon-mal input { color: #01b001; }

.sheet.skills table tbody table .result { text-align: center; font-size: 1.5rem; }

.sheet.skills table tbody table .result span { padding: .2rem; }

.sheet.skills p { margin-top: 1rem; text-align: center; }

.sheet.skills p, .sheet.skills p input { font-size: 1.8rem; }

.sheet.skills p input { width: 4.5rem; outline: none; border: none; }

.sheet.skills p span, .sheet.skills p input { margin: .3rem; text-align: center; }

.sheet.inventory > div { margin: 10px; }

.sheet.inventory .overview { display: inline-block; margin-top: 2rem; margin-bottom: .8rem; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }

.sheet.inventory .overview > div { display: flex; align-items: center; }

.sheet.inventory .overview i { width: 2.5rem; height: 2.5rem; margin: .2rem .5rem; }

.sheet.inventory .overview h2 { font-size: 1.8rem; padding: .2rem 0; }

.sheet.inventory .overview h2, .sheet.inventory .overview p { display: inline-block; margin-bottom: -3px; }

.sheet.inventory .overview p { font-size: 1.4rem; padding: 0 0.5rem; text-align: center; }

.sheet.inventory .items { display: grid; grid-template-areas: "a a"; grid-gap: .5rem 1rem; grid-template-columns: minmax(50%, 50%); }

.sheet.inventory .items .amt { display: flex; }

.sheet.inventory .items .name { flex-grow: 1; }

.sheet.inventory .items .times { display: flex; align-items: center; }

.sheet.inventory .items .times span { font-family: "NewTelegraph"; font-size: 1.2rem; margin: 0 .4rem; }

.sheet.inventory .weapons > * { padding-bottom: .5rem; }

.sheet.inventory .weapons > *:last-child { padding-bottom: 0; }

.sheet.inventory .weapons > * > * { display: flex; justify-content: center; align-items: center; }

.sheet.inventory .weapons > * .category { max-width: 12rem; }

.sheet.inventory .weapons > * .category .grow-input { margin: 5px; }

.sheet.inventory .weapons > * .name { flex-grow: 1; }

.sheet.inventory .weapons > * .icon { display: flex; justify-content: center; align-items: center; }

.sheet.inventory .weapons > * .icon i { margin: .3rem; margin-right: .38rem; width: 1.8rem; height: 1.8rem; cursor: pointer; }

.sheet.inventory .items .actions div, .sheet.inventory .weapons .actions div { height: 100%; display: flex; justify-content: space-evenly; align-items: center; width: 5rem; padding: .2rem; }

.sheet.inventory .items .actions i, .sheet.inventory .weapons .actions i { cursor: pointer; width: 1.5rem; height: 1.5rem; transition: .5s; }

.sheet.inventory .items > *, .sheet.inventory .weapons > * { display: flex; }

.sheet.inventory .items > *.shadow i, .sheet.inventory .weapons > *.shadow i { filter: opacity(0.5); cursor: not-allowed; }

.sheet.inventory .items > *.locked i.ic-equip, .sheet.inventory .weapons > *.locked i.ic-equip { filter: opacity(0.5); cursor: not-allowed; }

.sheet.inventory .items .locked *, .sheet.inventory .weapons .locked * { border-color: #d0d0d0; }

.sheet.active .lr-split { margin: 10px; }

.sheet.active h3 { font-size: 1.8rem; font-family: "NewTelegraph"; text-align: left; margin-bottom: 1rem; }

.sheet.active .left { min-width: 55%; margin-right: 1rem; margin-top: 1rem; }

.sheet.active .left .selected-item, .sheet.active .left .ammunition { display: flex; align-items: center; }

.sheet.active .left .selected-item .onefield, .sheet.active .left .ammunition .onefield { display: inline-flex; }

.sheet.active .left .selected-item .onefield div, .sheet.active .left .ammunition .onefield div { display: flex; }

.sheet.active .left .selected-item p, .sheet.active .left .ammunition p { font-size: 1.4rem; display: inline-block; margin-right: .5rem; }

.sheet.active .left .selected-item .grow-input, .sheet.active .left .ammunition .grow-input { max-width: 23rem; min-width: 3rem; }

.sheet.active .left .selected-item i, .sheet.active .left .ammunition i { width: 2rem; height: 2rem; cursor: pointer; }

.sheet.active .left .ammunition { margin-top: .5rem; }

.sheet.active .left .ammunition > div > div > span { font-size: 1.4rem; padding: 0 .4rem; }

.sheet.active .left .ammunition .grow-input span { padding: .2rem .8rem; }

.sheet.active .left .skills { margin: 3rem 2rem 2rem 2rem; display: flex; justify-content: space-between; }

.sheet.active .left .skills .char { font-size: 3.5rem; font-family: "NewTelegraph"; margin: 0 1rem; }

.sheet.active .left .skills > div { margin: 0 1rem; display: inline-flex; flex-direction: column; align-items: center; }

.sheet.active .left .skills span { font-size: 1.3rem; }

.sheet.active .left .skills i { width: 2rem; height: 2rem; }

.sheet.active .left .skills .grow-input { border-bottom: .2rem solid black; }

.sheet.active .left .skills .grow-input, .sheet.active .left .skills .grow-input > * { font-size: 1.4rem; }

.sheet.active .left .health-left { display: block; text-align: center; margin-bottom: 2rem; }

.sheet.active .left .health-left, .sheet.active .left .health-left span { font-size: 3rem; font-family: "ChomskyRegular"; }

.sheet.active .left .maluslist > * { display: flex; margin-bottom: .5rem; }

.sheet.active .left .maluslist > *:last-child { margin-bottom: 0; }

.sheet.active .left .maluslist .shadow i { filter: opacity(0.5); cursor: not-allowed; }

.sheet.active .left .maluslist .name { display: flex; }

.sheet.active .left .maluslist .name .grow-input { max-width: 15rem; min-width: 5rem; }

.sheet.active .left .maluslist .name .grow-input span { padding: 0 5px; }

.sheet.active .left .maluslist .name .grow-input input { padding: .3rem; }

.sheet.active .left .maluslist .effect { flex-grow: 1; flex-shrink: 1; min-width: 5rem; }

.sheet.active .left .maluslist .delete { display: flex; align-items: center; }

.sheet.active .left .maluslist i { width: 1.5rem; height: 1.5rem; margin: 0 .2rem; cursor: pointer; transition: .5s; }

.sheet.active .right { width: 100%; display: flex; flex-direction: column; }

.sheet.active .right textarea { flex-grow: 1; resize: none; outline: none; padding: .8rem; border: 0.16rem solid black; border-radius: 0.2rem; }

.sheet.character .portrait { margin: 10px; text-align: center; width: 15rem; height: 100%; display: inline-block; overflow: hidden; height: initial; display: flex; flex-direction: column; }

.sheet.character .portrait input { display: none; }

.sheet.character .portrait span { font-size: 1.8rem; font-family: "ChomskyRegular"; border-bottom: 2px solid #959595; padding: .3rem 0; }

.sheet.character .portrait div { flex-grow: 1; flex-shrink: 1; background: url("resources/Avatar.png"); background-size: contain; background-repeat: no-repeat; background-position: center; margin: 0; cursor: pointer; }

.sheet { background: white; width: 70rem; margin: auto; padding: 1rem; border-radius: .3rem; margin-bottom: 4rem; min-width: 50rem; }

.sheet:last-child { margin-bottom: 0; }

.sheet .field, .sheet .field-outline { border: 0.16rem solid black; border-radius: 0.2rem; }

.sheet .field { display: flex; flex-direction: column; }

.sheet .field label { padding: .2rem; padding-left: 1rem; font-size: 1.2rem; }

.sheet .field input { border: none; font-size: 1.4rem; padding: .2rem .4rem; outline: none; }

.sheet table { flex-grow: 1; border-spacing: 0px; }

.sheet td, .sheet th { padding: 10px; }

.sheet h1 { padding-bottom: 0; font-family: "NewTelegraph"; }

.grow-input { position: relative; display: inline-block; min-width: 2rem; }

.grow-input.number span::after { content: ''; width: 25px; display: inline-grid; }

.grow-input input, .grow-input span { font-size: 1.4rem; }

.grow-input input { width: 100%; height: 100%; position: absolute; left: 0; border: none; outline: none; }

.grow-input span { user-select: none !important; height: 0px; display: inline-block; overflow-y: hidden; }

.lr-split { display: flex; }

.autocalc { cursor: not-allowed; }

.shadow * { border-color: gray !important; color: gray; }

.negative { color: #c80000 !important; }

div.onefield { display: flex; }

.onefield input { outline: none; font-size: 1.2rem; padding: .2rem .4rem; width: 100%; border: none; }

.onefield .grow-input > * { font-size: 1.2rem; }

.onefield .grow-input span { padding: .2rem .4rem; }

.onefield .grow-input input { text-align: center; padding: 0; }

.onefield > * { border-top: 0.16rem solid black; border-bottom: 0.16rem solid black; overflow: hidden; position: relative; }

.onefield > * .seperator { border-right: 0.16rem solid black; height: 100%; position: absolute; top: 10%; right: 0; height: 80%; }

.onefield > *:last-child { border-right: 0.16rem solid black; border-top-right-radius: 0.2rem; border-bottom-right-radius: 0.2rem; }

.onefield > *:first-child { border-left: 0.16rem solid black; border-top-left-radius: 0.2rem; border-bottom-left-radius: 0.2rem; }

i.ic-delete { background: url("resources/Delete.png"); }

i.ic-items { background: url("resources/Items.png"); }

i.ic-weapons { background: url("resources/Weapons.png"); }

i.ic-unlocked { background: url("resources/Activate.png"); }

i.ic-locked { background: url("resources/Deactivate.png"); }

i.ic-equip { background: url("resources/HandIcon.png"); }

i.ic-pistole { background: url("resources/OnehandedWeapon.png"); }

i.ic-sniper { background: url("resources/TwohandedWeapon.png"); }

i.ic-policestick { background: url("resources/MeleeDull.png"); }

i.ic-sword { background: url("resources/MeleeSharp.png"); }

i.ic-brain { background: url("resources/BrainIcon.png"); }

i.ic-delete { background: url("resources/Delete.png"); }

i.ic-armor { background: url("resources/Armor.png"); }

i.ic-blood { background: url("resources/Blood.png"); }

i.ic-heart { background: url("resources/Heart.png"); }

i.ic-save { background: url("resources/Save.png"); }

i.ic-load { background: url("resources/Load.png"); }

i.ic-license { background: url("resources/License.png"); }

i.ic-ats { background: url("resources/ATS.png"); }

i.ic-shoot { background: url("resources/Shoot.png"); }

.overlay-base { position: fixed; top: 0; bottom: 0; right: 0; left: 0; background: rgba(0, 0, 0, 0.482); z-index: 999; justify-content: center; align-items: center; display: none; }

.overlay-base.shown { display: flex; }

.overlay-base .overlay { padding: 1rem; position: relative; border-radius: 5px; border: .16rem solid black; background: #d4d4d4; max-height: 90%; }

.overlay-base .overlay h2 { margin-bottom: 2rem; font-size: 2.5rem; }

.overlay-base .overlay p { display: flex; font-size: 1.8rem; margin: 0 1rem; margin-top: .5rem; }

.overlay-base .overlay p > * { margin: 0 5px; }

.overlay-base .overlay i { width: 2rem; height: 2rem; }

.overlay-base .overlay .header { position: absolute; top: 1rem; right: 1rem; width: 3rem; height: 3rem; cursor: pointer; }

.overlay-base .overlay .header i { width: 100%; height: 100%; }

.toolbox { background: #494949; position: fixed; display: flex; flex-direction: column; z-index: 99; padding: 2rem 0.4rem; border-top-right-radius: 2rem; border-bottom-right-radius: 2rem; color: white; top: 50%; transform: translateY(-50%); left: -4rem; transition: .5s; }

.toolbox:hover { left: 0; transition: .5s; }

.toolbox .uploadHelper { display: none; }

.toolbox a, .toolbox a:active, .toolbox a:visited, .toolbox a:hover { color: white; text-decoration: none; }

.toolbox div, .toolbox a { display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer; margin-bottom: 1.5rem; }

.toolbox span { font-size: 1.3rem; }

.toolbox a { margin-bottom: 0; }

.toolbox i { width: 4rem; height: 4rem; }

* { padding: 0; margin: 0; box-sizing: border-box; font-family: "RobotoCondensedRegular"; }

i { display: inline-block; background-size: contain !important; background-repeat: no-repeat !important; background-position: center !important; }

input { background: transparent; }

body { background: #373737; padding: 2rem 2.5rem; }

body, html { width: 100%; height: 100%; }
