i{
    &.ic-delete{ background: url("resources/Delete.png"); }
    &.ic-items{ background: url("resources/Items.png"); }
    &.ic-weapons{ background: url("resources/Weapons.png"); }
    &.ic-unlocked{ background: url("resources/Activate.png"); }
    &.ic-locked{ background: url("resources/Deactivate.png"); }
    &.ic-equip{ background: url("resources/HandIcon.png"); }

    &.ic-pistole{ background: url("resources/OnehandedWeapon.png"); }
    &.ic-sniper{ background: url("resources/TwohandedWeapon.png"); }
    &.ic-policestick{ background: url("resources/MeleeDull.png"); }
    &.ic-sword{ background: url("resources/MeleeSharp.png"); }
    
    &.ic-brain{ background: url("resources/BrainIcon.png"); }
    &.ic-delete{ background: url("resources/Delete.png"); }
    &.ic-armor{ background: url("resources/Armor.png"); }
    &.ic-blood{ background: url("resources/Blood.png"); }
    &.ic-heart{ background: url("resources/Heart.png"); }

    &.ic-save{ background: url("resources/Save.png"); }
    &.ic-load{ background: url("resources/Load.png"); }
    &.ic-license{ background: url("resources/License.png"); }
    &.ic-ats{ background: url("resources/ATS.png"); }
    &.ic-shoot{ background: url("resources/Shoot.png"); }
}