.toolbox{
    background: #494949;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 99;
    padding: 2rem 0.4rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: white;
    top: 50%;
    transform: translateY(-50%);

    left: -4rem;
    transition: .5s;
    &:hover{
        left:0;
        transition: .5s;
    }

    .uploadHelper{
        display: none;
    }

    a, a:active, a:visited, a:hover{
        color: white;
        text-decoration: none;
    }

    div, a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom:1.5rem;
    }

    span{
        font-size: 1.3rem;
    }
    a{
        margin-bottom: 0;
    }

    i{
        width: 4rem;
        height: 4rem;
    }
}