.sheet.skills{

    &>table>tbody>tr>td{
        vertical-align: top;
    }

    table{
        width: 100%;


        thead{
        
            .headfield{
                font-size: 1.8rem;
                width: 100%;

                td, tr{
                    padding: 0;
                }
                
                .points{
                    flex-grow: 1;
                }

                .values td{
                    padding-bottom: .3rem;
                }

                .i-field{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: .2rem;
                }

                .i-value input{
                    width: 2.5rem;
                    border: none;
                    font-size: 1.8rem;
                    font-weight: bold;
                    outline: none;
                }

                i{
                    width: 3rem;
                    height: 3rem;
                }
            }
        }

        tbody{

            
            table{
                border-spacing: 0 10px;

                thead{
                    font-size: 1.2rem;
                }

                td{
                    padding: 0 !important;
                }

                .value, .bon-mal{
                    
                    .grow-input{
                        margin: 0 .3rem;
                        span{
                            padding-right: 1rem;
                        }
                    }
                }

                .bon-mal input{
                    color: rgb(1, 176, 1);
                }

                .result{
                    text-align: center;
                    font-size: 1.5rem;

                    span{
                        padding: .2rem;
                    }
                }
            }
            
        }
    }

    p{
        margin-top: 1rem;
        text-align: center;
        
        &, input{
            font-size: 1.8rem;
        }
        input {
            width: 4.5rem;
            outline: none;
            border: none;
        }

        span, input {
            margin: .3rem;
            text-align: center;
        }
    }

}