.sheet.character{

    .portrait{
        margin: 10px;

        text-align: center;
        width: 15rem;
        height: 100%;
        display: inline-block;
        overflow: hidden;
        height: initial;
        display: flex;
        flex-direction: column;

        input{
            display: none;
        }

        span{
            font-size: 1.8rem;
            font-family: "ChomskyRegular";
            border-bottom: 2px solid #959595;
            padding: .3rem 0;
        }

        div{
            flex-grow: 1;
            flex-shrink: 1;
            background: url("resources/Avatar.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
            cursor: pointer;
        }
    }
}