.grow-input{
    position: relative;
    display: inline-block;
    min-width: 2rem;

    &.number span::after{
        content: '';
        width: 25px;
        display: inline-grid;
    }

    input,span{
        font-size: 1.4rem;
    }

    input{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        border: none;
        outline: none;
    }

    span{
        user-select: none !important;
        height: 0px;
        display: inline-block;
        overflow-y: hidden;
    }
}